<div class="row">
  <div class="">
    <carousel [interval]="myInterval" [noWrap]="noWrapSlides">
      <slide *ngFor="let slidez of slides; let index=index"
             [active]="slidez.active">

        <div class="item">
          <div class="col-sm-6">
            <h1><span>E</span>-SHOPPER</h1>
            <h2>Free E-Commerce Template</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <button type="button" class="btn btn-default get">Get it now</button>
          </div>
          <div class="col-sm-6">
            <img src="/images/home/girl{{index + 1}}.jpg" class="girl img-responsive" alt="" />
            <img src="/images/home/pricing.png"  class="pricing" alt="" />
          </div>
        </div>
      </slide>
    </carousel>
  </div>

  <!--<div class="col-md-6">
    <button type="button" class="btn btn-info"
            (click)="addSlide()">Add Slide
    </button>
    &lt;!&ndash; issue: removing currently active slide should not lead to white screen? &ndash;&gt;
    &lt;!&ndash;<button type="button" class="btn btn-info"&ndash;&gt;
    &lt;!&ndash;(click)="removeSlide(2)">Remove Slide#3&ndash;&gt;
    &lt;!&ndash;</button>&ndash;&gt;
    <br>

    <div class="checkbox">
      <label>
        <input type="checkbox" [(ngModel)]="noWrapSlides">
        Disable Slide Looping
      </label>
    </div>

    Interval, in milliseconds: <input type="number" class="form-control" [(ngModel)]="myInterval">
    <br/>Enter a negative number or 0 to stop the interval.
  </div>-->
</div>
