<div class="container">
  <div class="row">
    <div class="col-sm-12 padding-right">
  <div class="product-details"><!--product-details-->
    <div class="col-sm-5">
      <div class="view-product">
        <img class = "cloudzoom" src = "images/product-details/small/dslr1_small.jpg"
                data-cloudzoom = "zoomImage: 'images/product-details/large/dslr1_large.jpg'" />
        <h3>ZOOM</h3>
      </div>

      <div id="similar-product" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img class = 'cloudzoom-gallery' src = "images/product-details/thumbs/dslr1_thumb.jpg"
            data-cloudzoom = "useZoom: '.cloudzoom', image:
             'images/product-details//small/smallcamera.jpg', zoomImage: 'images/product-details/large/dslr1_large.jpg' " >
             <img class = 'cloudzoom-gallery' src = "images/product-details/thumbs/dslr2_thumb.jpg"
             data-cloudzoom = "useZoom: '.cloudzoom', image:
              'images/product-details//small/dslr2_small.jpg', zoomImage: 'images/product-details/large/dslr2_large.jpg' " >
          </div>
          <div class="item">
            <img class = 'cloudzoom-gallery' src = "images/product-details/thumbs/dslr1_thumb.jpg"
            data-cloudzoom = "useZoom: '.cloudzoom', image:
             'images/product-details//small/dslr1_small.jpg', zoomImage: 'images/product-details/large/dslr1_large.jpg' " >
             <img class = 'cloudzoom-gallery' src = "images/product-details/thumbs/dslr2_thumb.jpg"
             data-cloudzoom = "useZoom: '.cloudzoom', image:
              'images/product-details//small/dslr2_small.jpg', zoomImage: 'images/product-details/large/dslr2_large.jpg' " >
          </div>

        </div>

        <!-- Controls -->
        <a class="left item-control" href="#similar-product" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="right item-control" href="#similar-product" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>

    </div>
    <div class="col-sm-7">
      <div class="product-information"><!--/product-information-->
        <img src="/images/product-details/new.jpg" class="newarrival" alt="" />
        <h2>{{modalData1.name}}<tooltip-demo></tooltip-demo></h2>
        <p>Web ID: {{modalData1.id}}</p>
        <img src="/images/product-details/rating.png" alt="" />
        <span>
          <span>US {{modalData1.price}}</span>
          <label>Quantity</label>
          <input type="text" value="{{modalData1.quantity}}" />
          <button  type="button"
                  class="btn btn-default cart"><i class="fa fa-globe"></i> Add To Cart </button>
        </span>
        <p><b>Availability:</b> In Stock</p>
        <p><b>Condition:</b> New</p>
        <p><b>Brand:</b> E-SHOPPER</p>
        <a href=""><img src="/images/product-details/share.png" class="share img-responsive"  alt="" /></a>
      </div><!--/product-information-->
    </div>
  </div><!--/product-details-->

  <tabs-demo></tabs-demo>

  <div class="recommended_items"><!--recommended_items-->
    <h2 class="title text-center">recommended items</h2>
    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="/images/home/recommend1.jpg" alt="" />
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="/images/home/recommend2.jpg" alt="" />
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="/images/home/recommend3.jpg" alt="" />
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="/images/home/recommend1.jpg" alt="" />
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="/images/home/recommend2.jpg" alt="" />
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="/images/home/recommend3.jpg" alt="" />
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
        <i class="fa fa-angle-left"></i>
      </a>
      <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div><!--/recommended_items-->

</div>
</div>
</div>

<!-- Call quick start function. -->
<script type="text/javascript">
  CloudZoom.quickStart();
</script>
