<div class="row">
  <div class="col-sm-4" *ngFor="let item of selectedBrand">
    <div class="product-image-wrapper">
      <div class="single-products">
        <div class="productinfo text-center">
          <!--<div class="product-overlay">
            <div class="overlay-content">
              <h2>{{item.price}}</h2>
              <p>{{item.name}}</p>
              <a href="#" class="btn btn-default add-to-cart" (click)="getSelectedItem(item)"><i class="fa fa-shopping-cart">
              </i>Add to cart</a>
            </div>
          </div>-->
          <a [routerLink]="['/details',item]">Product Details
          <img src="{{item?.imagePath}}" alt="" class="img-responsive">
          </a>
          <h2>{{item?.price}}</h2>
          <p>{{item?.name}}</p>
          <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart">
          </i>Add to cart</a>
        </div>
      </div>
      <div class="choose">
        <ul class="nav nav-pills nav-justified">
          <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
          <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedBrand?.name}}</p>
  </div>
</div>
